
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <title>{{title}}</title>
    </head>
    <body>
      <h1>We will be right back</h1>
      <p>Site is under maintenance</p>
</body


</html>
